<h2>A világ legféltettebben őrzött titkai</h2>

<% unless logged_in? %>
<p class="error">Jelentkezz be fent, hogy megnézhesd őket!</p>
<% end %>

<% if @secrets.empty? %>
<p>Nincsenek?! Gyere vissza később, akkor tuti lesz már egy csomó, vagy akár te is <a href="/secrets/new">lejegyzhetsz egyet</a>.</p>
<% else %>
<a href="/secrets/new">Új titok lejegyzése</a>

<ul class="secrets">
<%   @secrets.each do |secret| %>
  <%= secret_li(secret) %>
<%   end %>
</ul>
<% end %>
