body {
  margin: 0;
  padding: 0;
  background-color: #eef;
  text-align: center;

  font: 12pt Helvetica,Arial,sans-serif;
}

.container {
  margin: 20px auto;
  border: 1px solid black;
  padding: 0;
  background-color: white;
  width: 700px;
  text-align: left;
}

#header {
  position: relative;
  border-bottom: 1px solid #ccc;
  padding: 1em;
  height: 60px;
  background-color: #eee;
}
#header h1 {
  margin: 0;
  line-height: 60px;
  font-size: 2.5em;
}
#header h1 img {
  border-width: 0;
  vertical-align: top;
}
#header h1 a {
  text-decoration: none;
  color: black;
}

#auth {
  position: absolute;
  top: 1em;
  right: 1em;
  text-align: right;
}

#nav {
  list-style-type: none;
  margin: 0;
  padding: 0.25em 0.5em;
  background-color: #ddd;
}
#nav li {
  display: inline;
  margin: 0;
  padding: 0 0.5em;
}
#nav li a {
  color: #666;
  text-decoration: none;
}
#nav li a:hover {
  color: #222;
}

#content {
  padding: 1em;
}

ul.secrets {
  list-style-type: none;
  margin: 1em 0 0;
  padding: 0;
}

ul.secrets li.locked, ul.secrets li.unlocked {
  margin: 0 0 0.5em 0;
  padding: 0 0 0 30px;
  background: url(/images/locked.png) left center no-repeat;
}
ul.secrets li.unlocked {
  background-image: url(/images/unlocked.png);
}

#footer {
  border-top: 1px solid #ccc;
  padding: 0.25em;
  text-align: center;
}

a         { color: #c60; }
a:hover   { color: #c90; }
a:active  { color: #ca0; }

.notice {
  color: #090;
}

.error {
  color: #900;
}

.placeholder {
  color: #888;
}
