<h2>Titok törlése</h2>

<form action="/secrets/<%= @secret.id %>" method="post">
  <p><input type="hidden" name="_method" value="delete"/></p>
  <p class="error">Biztos törölni akarod a kis titkodat?</p>
  <p>
    <input type="submit" value="Igen"/>, vagy
    <a href="/secrets/<%= @secret.id %>">inkább mégsem</a>
  </p>
</form>
