<h2>Titkaim</h2>

<% if @secrets.empty? %>
<p>Nincsenek?! Miért nem <a href="/secrets/new">jegyzel le</a> néhányat?</p>
<% else %>
<a href="/secrets/new">Új titok lejegyzése</a>

<ul>
<% @secrets.each do |secret| %>
  <li>
    <a href="/secrets/<%= secret.id %>"><%= secret.title %></a>
  </li>
<% end %>
</ul>
<% end %>
