<h2>Titkaim</h2>

<% if @secrets.empty? %>
<p>Nincsenek?! Miért nem <a href="/secrets/new">jegyzel le</a> néhányat?</p>
<% else %>
<a href="/secrets/new">Új titok lejegyzése</a>

<ul class="secrets">
<% @secrets.each do |secret| %>
  <%= secret_li(secret) %>
<% end %>
</ul>
<% end %>
