<h2>Új titok lejegyzése</h2>

<form action="/secrets" method="post">
  <%= form_field "Cím", @secret, :title %>
  <%= form_field "Titok", @secret, :body, :textarea %>
  <p><input type="submit" value="Mehet"/></p>
</form>
