<h2><%= @secret.title %></h2>

<div><%= @secret.body %></div>

<% if @secret.allowed_to_update?(current_user) %>
<p>
  <a href="/secrets/<%= @secret.id %>/edit">szerkesztés</a> |
  <a href="/secrets/<%= @secret.id %>/delete">törlés</a>
</p>
<% end %>
